

	
  body{
	 font-family: Lato, sans-serif;
 }
h1{
	font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
}
h2{
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 150%;
}
p{
	font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
}
h3{
	font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 150%;
}